%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Description:
  = @job.description
%p
  %b Company:
  = link_to @job.company.name, company_path(@job.company)
  

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
